@use '../../styles/colors.scss' as *;
@use '../../styles/fonts.scss' as *;

.homecontainer {
    font-family: "Poppins", sans-serif;
    padding: 60px 60px;
}

.searchcontainer {
    margin: 0px auto;
    max-width: 80%;
    position: sticky;
    top: 0px;
    background-color: $white;
    padding: 10px;
    z-index: 1;
}

.bookscontainer {
    max-width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    gap: 1%;
};



.bookitem {
    margin-bottom: 30px;
}

.paginatecontainer {
    max-width: 80%;
    margin: 100px auto;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: $white;
}


.currentpage {
    font-weight: 500;
    font-size: $medium;
    line-height: 20px;
    color: $textdark;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 35px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;

}

.controlbtn {
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: end;
}

.curpageCount {
    font-weight: 500;
    font-size: $small;
    line-height: 20px;
    color: $textdark;
}

.pagelink {
    display: none !important;
}

@media screen and (max-width: 992px) {
    .bookscontainer {
        grid-template-columns: 49.5% 49.5%;
        height: 100%;
        overflow-y: scroll
    };

    .bookscontainer::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .bookscontainer {
        grid-template-columns: 100%;
    };

    .paginatecontainer {
        max-width: 95%;
        margin: 50px auto;
    }
}



